<h1 class="title is-1">Sign In</h1>

<%= form_for :user, url: session_path, html: { class: 'box mt-6 mb-6' } do |f| %>
  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.email_field :email, class: 'input', placeholder: 'e.g. alex@example.com' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %>
    <div class="control">
      <%= f.password_field :password, class: 'input', placeholder: '********' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit 'Sign in', class: 'button is-primary' %>
    </div>
  </div>

  <%= link_to "Forgot password?", new_password_reset_path %>
<% end %>
