<tr>
  <td><%= connection[:id] %></td>
  <td><%= connection[:auth_level] %></td>
  <td><%= connection[:pubkey] %></td>
  <td><%= connection[:auth_event_22242] %></td>
  <td>
    <% connection[:subscriptions].each do |sub| %>
      <span class="tag"><%= sub %></span>
    <% end %>
  </td>
  <td><%= connection[:requests] %></td>
  <td><%= connection[:traffic] %></td>
  <td><%= connection[:ip] %></td>
  <td><%= button_to "Close", admin_connection_path(connection[:id]), method: :delete, class: 'button is-danger is-small' %></td>
</tr>
