<div class="content">
  <h1>Trusted Authors</h1>
  <% if @trusted_authors.present? %>
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Pubkey</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render @trusted_authors %>
        </tbody>
      </table>
    </div>
  <% end %>

  <%= form_for :trusted_author, url: admin_trusted_authors_path, html: { class: 'box mt-6 mb-6', data: { turbo: false } } do |f| %>
    <div class="field">
      <%= f.label :pubkey, class: 'label' %>
      <div class="control">
        <%= f.text_field :pubkey, class: 'input', placeholder: 'a19f19f63dc65c8053c9aa332a5d1721a9b522b8cb4a6342582e7f8c4c2d6b95', pattern: /^[0-9a-f]{64}$/, required: true %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.submit 'Add trusted Author pubkey', class: 'button is-primary' %>
      </div>
    </div>
  <% end %>

</div>