<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Saltivka", root_path, class: "navbar-item is-size-4" %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" data-controller="navbar" data-action="click->navbar#toggleBurger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Profile", edit_user_path, class: 'navbar-item' %>
      <% if current_user&.admin? %>
        <%= link_to "Connections", admin_connections_path, class: 'navbar-item' %>
        <%= link_to "Trusted Authors", admin_trusted_authors_path, class: 'navbar-item' %>
        <%= link_to "Subscriptions", admin_author_subscriptions_path, class: 'navbar-item' %>
        <%= link_to "Configuration", admin_configuration_path, class: 'navbar-item' %>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if current_user %>
            <%= button_to "Sign out", session_path, method: :delete, class: 'button' %>
          <% else %>
            <%= link_to "Sign in", new_session_path, class: "button" %>
            <%= link_to "Sign up", new_user_path, class: "button is-success" %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</nav>
